.app {
    height: 100%;


    &__desktop {
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__mobile {
        @media (min-width: 1025px) {
            display: none;
        }
    }

    &__container {
        height: 100%;

        &__content {
            height: 100%;

            &__toolbar {
                height: 80px;
            }

            &__router {
                height: calc(100% - 80px);
            }
        }
    }
}