<div class="app">
  <div class="app__container__content">
    <div class="app__container__content__toolbar">
      <app-toolbar (onClickButtonSideNav)="sidenav.toggle()"></app-toolbar>
    </div>
    <div class="app__container__content__router">
      <mat-sidenav-container class="app__container">
        <mat-sidenav #sidenav mode="over" [opened]="opened"><app-sidenav></app-sidenav></mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>

  </div>
</div>