.button {
  // button :disabled {
  //   opacity: 0.8;
  // }
  height: 100%;
  cursor: pointer;
  width: 100%;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  border: 0;

  &__outline {
    border: 1px solid #003087;
  }

  &__full {
    color: #fff;
  }

  &__text {
    color: #005afe;
    border: 1px solid #fff;
  }

  &__square {
    border-radius: 6px;
  }

  &__rounded {
    border-radius: 18px;
  }
}
