@import "../../../variables.scss";

.sign-pdf {
  height: 105vh;
  overflow: hidden;

  .row {
    height: 100%;
  }

  p {
    margin: 0;
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    p {
      margin-top: 40px;
    }
  }

  &__footer-mobile {
    @media (min-width: 1025px) {
      display: none;
    }
  }

  &__warning {
    @media (max-width: 1024px) {
      display: none;
    }

    margin-top: 60px;
    text-align: center;
  }

  &__drop {
    width: 450px;
    height: 200px;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;

    &__title {
      margin-top: 40px;
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    label {
      color: $white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: $primary;
      padding: 8px 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__menu {
    @media (max-width: 1024px) {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      form {
        display: flex;
        overflow-x: scroll;
      }
    }

    &__section {
      @media (max-width: 1024px) {
        margin: 0 16px;
        min-width: 300px;
      }
    }

    &__divider {
      border-top-color: #0000001f;
      border-top-width: 1px;
      border-top-style: solid;
      margin-top: 24px;
      margin-bottom: 24px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @media (max-width: 1024px) {
      padding: 0 32px;
    }
  }

  &__doc {
    margin-top: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__viewer {
      position: relative;

      &__relative {
        ::ng-deep .ng2-pdf-viewer-container {
          position: relative;
        }
      }
    }

    pdf-viewer {
      height: fit-content;
      display: flex !important;
      width: fit-content;
      justify-content: center;
      align-items: center;

      .page {
        padding: 0;
      }
    }

    &__seal {
      position: absolute;
      width: 180px;
      height: 100px;

      @media (max-width: 1024px) {
        width: 90px;
        height: 50px;
      }

      &__with-image {
        &__head {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          img {
            &:first-child {
              width: 110px;
              height: 55px;

              @media (max-width: 1024px) {
                width: 55px;
                height: 27.5px;
              }
            }

            &:last-child {
              width: 55px;
              height: 55px;

              @media (max-width: 1024px) {
                width: 27.5px;
                height: 27.5px;
              }
            }
          }
        }

        &__footer {
          p {
            margin: 0;
            font-size: 8px;
            margin-top: 5px;

            @media (max-width: 1024px) {
              font-size: 4px;
            }
          }

          span {
            color: red;
          }
        }
      }

      &__placeholder {
        background-color: #e2dfdf;
        border: dashed 1px #979797;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;

        p {
          color: $white;
          font-size: 10px;

          @media (max-width: 1024px) {
            font-size: 6px;
          }
        }
      }

      &__hr {
        right: 20px;
        left: unset;
      }

      &__hc {
        right: 50%;
      }

      &__hl {
        right: unset;
        left: 20px;
      }

      &__vu {
        bottom: unset;
        top: 20px;
      }

      &__vd {
        bottom: 20px;
      }

      &__vc {
        bottom: 50%;
      }
    }
  }

  &__hidden {
    margin-top: 20vh;
    width: 100%;
    height: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;

    &__seal {
      position: absolute;
      width: 282px;
      height: 160px;

      &__with-image {
        &__head {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          img {
            &:first-child {
              width: 170px;
              height: 88px;
            }

            &:last-child {
              width: 88px;
              height: 88px;
            }
          }
        }

        &__footer {
          p {
            margin: 0;
            font-size: 12px;
            margin-top: 5px;
          }

          span {
            color: red;
          }
        }
      }

      &__placeholder {
        background-color: #e2dfdf;
        border: dashed 1px #979797;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;

        p {
          color: $white;
          font-size: 13px;
        }
      }

      &__hr {
        right: 30px;
        left: unset;
      }

      &__hc {
        right: 50%;
      }

      &__hl {
        right: unset;
        left: 30px;
      }

      &__vu {
        bottom: unset;
        top: 30px;
      }

      &__vd {
        bottom: 30px;
      }

      &__vc {
        bottom: 50%;
      }
    }

    &__viewer {
      position: relative;
      width: fit-content;

      &__relative {
        ::ng-deep .ng2-pdf-viewer-container {
          position: relative;
          max-height: unset;
          max-width: unset;
        }
      }

      body .ng2-pdf-viewer-container {
        max-height: unset;
        max-width: unset;
      }

      .ng2-pdf-viewer-container {
        max-height: unset;
        max-width: unset;
      }
    }

    pdf-viewer {
      height: fit-content;
      display: flex !important;
      width: fit-content;
      justify-content: center;
      align-items: center;

      .page {
        padding: 0;
      }
    }
  }

  &__buttons {
    height: 36px;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $primary;
    }

    &__num-page {
      margin: 0 16px;

      h2 {
        margin: 0;
      }
    }

    mat-form-field {
      margin: 0 16px;
    }
  }

  &__success {
    text-align: center;

    .mat-icon {
      font-size: 80px;
      height: 80px;
      width: 80px;
    }
  }

  &__footer {
    @media (max-width: 1024px) {
      display: none;
    }

    margin-top: 32px;

    p {
      color: $primary;
    }
  }

  mat-button-toggle-group {
    width: 100%;
  }

  mat-button-toggle {
    width: 50%;
  }

  &__img-seal {
    height: 100%;
    display: flex;

    @media (max-width: 1024px) {
      height: unset;
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;

      @media (max-width: 1024px) {
        display: none;
      }
    }

    label {
      color: $primary;
      width: 183px;
      height: 44px;

      @media (max-width: 1024px) {
        width: unset;
        height: unset;
      }

      padding: 8px 16px;
    }

    &__img {
      margin-top: 16px;
      display: flex;
      align-items: center;
      width: 100%;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
      }

      p {
        margin-left: 16px;
      }
    }

    &__text {
      @media (max-width: 1024px) {
        p {
          margin-top: 12px;
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .col-8 {
      width: 100%;
      height: 50vh;
    }

    .col-4 {
      width: 100%;
      height: 30vh;
    }

    .row {
      flex-direction: column;
    }
  }
}
