$primary: #28EEA3;
$secondary: #42019B;
$white: #F6F6F6;
$error: #ed2c50;

$md-lightgreen: (
    50 : #e5fdf4,
    100 : #bffae3,
    200 : #94f7d1,
    300 : #69f3bf,
    400 : #48f1b1,
    500 : #28eea3,
    600 : #24ec9b,
    700 : #1ee991,
    800 : #18e788,
    900 : #0fe277,
    A100 : #ffffff,
    A200 : #dbffeb,
    A400 : #a8ffd0,
    A700 : #8fffc2,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$md-darkblue: (
    50 : #e8e1f3,
    100 : #c6b3e1,
    200 : #a180cd,
    300 : #7b4db9,
    400 : #5e27aa,
    500 : #42019b,
    600 : #3c0193,
    700 : #330189,
    800 : #2b017f,
    900 : #1d006d,
    A100 : #ae9cff,
    A200 : #8469ff,
    A400 : #5b36ff,
    A700 : #461dff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);